.formains,.forms,.formains11 > form{display: flex;}
.forms{width: 100%; justify-content: center; align-items: center;  
    background-color: #e0e0e0;
    /* background-image: linear-gradient(to right bottom, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #96abdd, #809ace, #6a89be, #5673a0, #435d83, #314868, #20344d); */
    /* background-image: url('/images/paint.jpg'); */
}
.formains {margin: 0 auto;width: 58%; position: relative; justify-content: center; margin-bottom:3.9%;    margin-top: 9%; }
.formains11 > form{flex-direction: column;}
.formains1{width: 50%; z-index: 9;}
.formains2{width: 80vw; position: absolute; z-index: 1;}
.formains2{display: none;}
.formains2{background-color: #20344D; color: #fff;}
.formain1hed > h4{font-size: 2.4vw; text-align: center;}
h4{margin: 0;}
.form11body{margin-top: 2%;}
.inp1 {width: 80%;margin: 0 auto 4% auto;}
.inp1 > input {width: 100%;     border-bottom: 1px solid #000; padding: 3% 1% 3% 12%;
}.forinp,.lsubmit{    padding: 2% 1%; width: 80%;margin: 0 auto;text-align: center;}
.lsubmit > button{padding: 12px 46px;border: none;border-radius: 18px; color: #fff; cursor: pointer; }
.lsubmit{    padding-top: 3%;    padding-bottom: 20%;}
/* .formain211{padding: 8%;} */
.formain211 > h3{font-size: 2vw; text-align: center; text-transform: capitalize;color: #fff;}
.formain1hed{padding: 4% 0%;}  
.formain211 > p{margin-top: 4%;} 
.formains1{background-color: #fff;    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;}
.formain211 > p{text-align: center;font-size: 1.5vw;}
.inp1 > .eye{position: absolute;}
.forinp > a{font-size: 1vw;color: #000;text-decoration: none;text-transform: capitalize;}
.inp1 > .eye {position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.form11body > span{color: red;}
.inp1{position: relative;}
.inp1 > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 100%;
    color: #000;
    display: flex
;
    z-index: 9;
    align-items: center;
    justify-content: center;
    font-size: 1.4;
    left: 2%;
}
.form11body > span {
    color: red;
    font-size: 0.9vw;
    display: block;
    text-align: center; margin: 1% 1%;
}


@media only screen and (max-width:64em){
    .formains { width: 80%;margin-bottom: 15.9%;margin-top: 23%;}
    .formains1, .formains2 {width: 82%;}
    .formain211 > p { font-size: 2.5vw;}
    .formain211 > h3 {font-size: 3vw;}
    .formain1hed > h4 { font-size: 3.4vw;}
    .forinp > a {font-size: 2vw;}
    .lsubmit > button {  margin-top: 4%;padding: 16px 58px;}
    .inpmain{margin-top: 3%;}
    .formain1hed {padding: 5% 0%;}
    .form11body {margin-top: 2%;}
    .hedleft > a{
        padding: 2% 1%;
        display: block;
    }
}
@media only screen and (max-width:39em){
    .formains {margin: 0 20px;width: 100%;flex-direction: column; }
    .formains1, .formains2 {width: 100%;}
    .formain1hed {
        padding: 5% 0%;
    }
    .formain1hed > h4 {
        font-size: 2em;
    }
    .forinp > a {font-size: 1em;}
    .lsubmit > button { font-size: 0.9em;}
    .formain21 {margin-top: 2%;}
    .hedleft > a{
        font-size: 1.3em;
    }
    .forms {padding-top: 110px;padding-bottom: 100px;}
    .footermain {flex-direction: column;}
    .fmain {margin-top: 35%;}
    .formes {width: auto;margin: 0 30px;    gap: 16px}
    .fohed > h3 {font-size: 1.4em;}
    .flex-column > label {font-size: 1em;}
    .span, .p {
        font-size: 1em;
    }
    .fohed::after {width: 42px;}    


}