body{margin: 0; border: 0;}
.ntmain2{width: 30.5%; background-color: #000;}
.ntmain1{width: 69.5%;background-color: #000;}
.notfoundmain{display: flex;} 
img{width: 100%; height: auto;}
.nt1txt{
    margin-top: 15%;
}
.nt1txt > h5{
    color: #fff;
    font-size: 7vw;
    margin: 0;
}
.nt1contxt1 > h5{
    color: #fff;
    font-size: 2vw;
    text-transform: capitalize;
    margin: 0;
}
.nt1contxt2 > h5{ color: #fff;font-size: 1.6vw;margin: 0;}
.nt1contxt2   {width: 50%;margin-top: 2%;}
.ntmain11{margin-left: 6%;}
.nt1contxt3{margin-top: 5%;}


.clickbtn,.userinfo > button{padding: 9px 30px;border: none;background-color: rgb(127, 129, 255);color: white;
    font-weight: 600;cursor: pointer;border-radius: 10px;transition-duration: .2s;}
.clickbtn:hover,.userinfo > button:hover {background-color: rgb(144, 145, 255);transition-duration: .2s;}

@media only screen and (max-width:64em){

    .ntmain2{display: none;}
    .ntmain1 {width: 100vw;height: 100vh;}
    .nt1txt {margin-top: 51%;}
    
}

@media only screen and (max-width: 39em) {
    .nt1txt {margin-top: 0%;}
    .ntmain11 {margin-top: 120px;}
    .nt1txt > h5 {font-size: 4em;}
    .nt1contxt1 > h5 { font-size: 1.6em;}
    .nt1contxt2 {width: 90%;margin: 6% 0%; }   
     .nt1contxt2 > h5 {font-size: 1em;}
     .hedcenter {display: none;}
     .hedleft, .hedrit {width: 50%;}
     .userinfo > button {padding: 6px 12px;font-size: 0.7em;}
}


