.topbar,.tleftul,.udropul > li > a,.protxt{display: flex;}
.tleftul >li{width: 10%;text-align: center;}
.topbars,.udropul{width: 100%;}
.topbarmain{width: 80%;}
.userdrop{width: 20%;display: flex;align-items: center;}
.udropul > li{position: relative;}
.udropul > li > ul{position: absolute; padding: 5%; left: 0;
  /* top: 4vw; */
}
.udropinul > li > a{display: block; text-transform: uppercase; font-size: 1.1vw;  padding: 4% 9%;}
.udropinul > li:not(:last-child) > a{border-bottom: 1px solid #d4d4d4;}

.tleftul > li > a{display: block ;  font-size: 1.3vw; text-transform: uppercase; padding: 21% 1%; position: relative; transition: all 0.5s ease-in-out;}
.tleftul > li > a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: rgb(134 134 250);
  transition: all 500ms ease-in-out;
}
/* .tleftul > li > a.active::after{width: 100%; left: 0; background-color: #000;} */
.protxt{align-items: center; margin-left: 8%;}
.tleftul > li > a:hover::after { width: 100%; left: 0;}
.proimg{width: 20%;}
.udropinul{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.2), 
  0 -4px 12px -2px rgba(0, 0, 0, 0.2), 
  4px 0 12px -2px rgba(0, 0, 0, 0.2), 
  -4px 0 12px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all 0.5s ease-in-out;
  display: none;
  /* transform: translateY(-8%);
  opacity: 0; */
}
.udropinul > li > a > label { margin-right: 5%;}

.userdrop > .udropul > li:hover .udropinul,
.userdrop > .udropul > li > a:hover + .udropinul {
  /* transform: translateY(0%);
    opacity: 1; */
    display: block;
}
.respnav {
  position: fixed;
  top: 60px;
  width: 50%;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}



@media only screen and (max-width:64em) {
  .topbarmain{display: none;}
  .topbar{justify-content: flex-end;}
  .userdrop > .udropul > li:hover .udropinul,
  .userdrop > .udropul > li > a:hover + .udropinul {display: none;}
  .respnavmain{padding: 1% 5.2%;background-color: #fff;}
  .respnav1 > ul > li > a { display: block;padding: 3% 1%; text-transform: uppercase;}
  .respnav1 > ul > li > a > label { margin-right: 5%;}
  .respnav.show{transform: translateX(0%);}

}
@media only screen and (max-width:39em) {
  .flexed-row{flex-direction: row;}
  .flex-star0t{justify-content: flex-start!important; width: 50%;}
  .userdrop{width: 50%;}
  .topbars{display: flex;align-items: center;}
  .proimg {width: 40%;}
  .fa-solid, .fas {font-size: 1em;}
}