.footermain{display: flex; background-color: rgb(134 134 250);    padding: 1.5% 5%;
}
.fortt1,.fortt2{width: 50%;}
.fort2ul {display: flex; justify-content: flex-end;}
.fort2ul > li > a{font-size: 1.9vw ;background-color: transparent;color: #fff;}
.fort2ul > li:not(:first-child){margin-left: 3%;}
.fortt1 > h4{color: #fff;}
.fort2ul > li > a{transition: all 0.5s ease-in-out;}
.fort2ul > li > a:hover{color: #ffa55f;}