/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{text-decoration: none; color: #000;}
/* formpage */
.main{background-image: linear-gradient(to right bottom, #75abdd, #7ba7e9, #8ba1f2, #a398f6, #c08cf3);}
*{margin: 0;}
/* body{background: url(../public/images/Responsive\ Registration\ Form\ in\ HTML\ &\ CSS\ \(1\).jpg) no-repeat; height: 4000px;} */
.form{width: 90%; margin: 0 auto;padding-top: 8%;padding-left: 1.7%;padding-bottom: 2.5%;}
.formmain{
  background-color: #fff;
  padding:2% 3%; border-radius: 5px;}
.ftxt > h3{     font-weight: 400;  text-transform: capitalize;font-family: "outfit" ,serif; color: #000; font-size: 2vw; letter-spacing: 0.01em;}
.intxt > h3,.rtxt > h3{ width: 18%;    font-weight: 400;  text-transform: capitalize;font-family: "outfit" ,serif; color: #000; font-size: 1.6vw; letter-spacing: 0.01em;}
.intxt,.rtxt{display: flex;}
.intxt > span ,.rtxt > span{
  font-size: 1vw;
  display: flex;
  color: #ff0000;
  align-items: center;
}
.formbdy > form{margin-top: 2.6%;}
.inp {position: relative; display: flex;flex-direction: column;width: 24%;margin-bottom: 2.5%;}
.inp > span{color: #ff0000; font-size: 1.1vw;}
.inp > label{text-transform: capitalize; margin-bottom: 3%; font-family: "outfit" ,serif;   font-size: 1.2vw;}
.inpfild{width: 100%;display: flex;flex-wrap: wrap;}
.collection{display: flex; margin-top: 2%;} 
.inpset,.range{width: 50%;}
.inpfild .inp:not(:nth-child(4)){  margin-right: 1.3%;
}
.inp > input{padding:3.7% 5%; font-size: 1.2vw;border: 1px solid #b8b8b8;border-radius: 4px;color: #888787;}
.inp12main{display: flex;}
.inp12{width: 30%;}
.inp12main{margin: 2.2% 0%;}
.inp12main > .inp12:not(:last-child){margin-right: 0.5%;}
.inp12 > input {
  margin-right: 4%;
  font-size: 2em;
  width: 18px;
  height: 17px;
}.inp12 > label{   font-size: 1.2vw;}
.rndinpsmain{display: flex;flex-wrap: wrap; margin: 2% 0;}
.rnginp{width: 25%;}
.rnginp > label{font-size: 1.2vw; text-transform: capitalize;}
.rnginp{margin-right: 3%;}
.inp > select{padding: 3%;border: 1px solid #b8b8b8;border-radius: 4px; font-size: 1.2vw; color: #888787;}
.fsubmit{width: 50%; margin: 0 auto;padding: 1% 0;}
.submitinp{text-align: center; margin-top: 1%;}
.fsubmit {background-image: linear-gradient(to right bottom, #75abdd, #7ba7e9, #8ba1f2, #a398f6, #c08cf3);}
.fsubmit { cursor: pointer; margin: 10px;padding: 1% 0%;width: 100%; font-family: "outfit" ,serif;letter-spacing: 0.11vw;
  font-size: 1.39vw;text-align: center;text-transform: capitalize;transition: 0.5s;background-size: 200% auto;
   color: white;box-shadow: 0 0 20px #eee;border-radius: 4px;border: none;margin: 0 auto;}
.fsubmit:hover {background-position: right center; color: #fff;text-decoration: none;}
.rnginp > input{margin-right: 12%;}
.inp > span {color: #ff0000;font-size: 0.8vw;position: absolute;bottom: -21%;left: 1%;}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.btns{
  display: flex
;
  justify-content: space-evenly;
}
.btns > button{cursor: pointer;}
.checkmark:after {content: "";position: absolute;display: none;}

.container input:checked ~ .checkmark:after {
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.popup{position: fixed;left: 0;top: 0;right: 0;bottom: 0; display: none;}
.popup.show{display: flex
  ;
      justify-content: center;
      align-items: center;}
.popupmain{
    width: 35%;
    margin: 0 auto;
}
.popup {
  background-color: rgba(0, 0, 0, .6);
}
img{height: auto; width: 100%;}
.enqimg{
    width: 25%; margin: 0 auto;padding: 5% 0%;
}
#message{margin-top: 2%;text-align: center; background-color: #fff;}
.ftxt{position: relative;}
.ftxt::after{position: absolute;
  bottom: -8%;
  content: '';
  height: 2px;
  width: 27px;
  background-image: linear-gradient(to right bottom, #4c7cec, #6f7df1, #8c7ef5, #a77ff8, #c07ff9);  left: 0.3%;
}

#invert{
  padding: 2% 0;
}
#okbtn {margin: 3% 0%;padding: 2% 5%;border-radius: 7px;background-color: #000;color: #fff;}
.ftxt > h3 {transition: all 0.5s ease-in-out;}
.headermain{
  width: 88%;
  margin: 0 auto;
  display: flex;
  padding: 1.2% 0%;
}
.navbar > header{ position: fixed; width: 100%; background-color: rgba(255, 255, 255, .6); z-index: 99;}
.hedleft,.hedrit{width: 20%;}
.hedcenter{width: 80%;display: flex;align-items: center;}
.hedcenter > ul > li:not(:last-child){margin-right: 2%;}
.hedcenter > ul{display: flex;width: 100%;    justify-content: center;}
.hedcenter > ul > li > a{    font-size: 1.4vw; position: relative; text-align: center  ;    padding: 15% 1%;display: block;  color: #000; text-transform: capitalize;  text-decoration: none; margin-right: 2%;}
.hedcenter > ul > li{ margin-right: 2%; width: 10%;}
.ritmain{display: flex;}
.icons {
  padding: 5% 7%;
  background-color: #f3f0f0;
  margin-right: 7%;
  border-radius: 50%;
}
.userinfo{display: flex; align-items: center;}
.hedleft > a > h3{font-size: 2.4vw;}
.hedrit{ display: flex;align-items: center;}
.hedrit > a{text-decoration: none; display: block; width: 100%;}
.userinfo > span{font-size: 1.2vw;}
.hedcenter > ul > li > a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #787878;
  transition: all 500ms ease-in-out;
}

element.style {
}
.hedcenter > ul > li > a:hover {
    text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
}
.hedcenter > ul > li > a:hover::after{
 width: 100%; left: 0;
}





@media only screen and (max-width:64em){
  .ftxt > h3 {font-size: 3vw;}
  .ftxt::after {width: 25px}
  .inp > label {font-size: 1.61vw;}
  .inp > input ,.inp > select{font-size: 1.4vw;}
  .intxt > h3, .rtxt > h3 {font-size: 1.9vw; width: 13%;}
  .inp12 > label,.rnginp > label {font-size: 1.6vw;}
  .container {padding-left: 28px;}
  .inp12 {width: 33%;}
  .rnginp {margin-right: 0%;}
  .fsubmit {font-size: 1.79vw;}
  .rnginp {width: 33%;}
  .form {width: 90%;}
  .inp > span {font-size: 1vw; bottom: -22%;left: 1%;}
  .popupmain { width: 70%;}
  #invert { font-size: 2.8vw;}
  .hedleft > a > h3 {font-size: 3.4vw;}
  .hedcenter > ul > li > a {font-size: 2vw;}
  .userinfo > span {font-size: 1.6vw;}


}
@media only screen and (max-width:39em){
  .inp {width: 100%;}
  .form {width: auto;margin: 0 30px;}
   .ftxt > h3 {font-size: 1.4em;}
  .inp > label {font-size: 1em;}
  .inpfild { margin-top: 9%;}
  .inpfild .inp:nth-child(odd) {margin-right: unset;margin-bottom: 7.5%;  }
  .inp > input, .inp > select {font-size: 0.9em;}
  .intxt > h3, .rtxt > h3 {font-size: 1.2em;}
  .inp12 > label, .rnginp > label {font-size: 1em;}
  .inp12main {display: flex;flex-wrap: wrap;margin: 7% 0%;}
  .inp12main > .inp12:not(:last-child) {margin-right: unset;}
  .inp12,.rnginp {width: 50%;}
  .rnginp{margin-bottom: 3%;}
  .rndinpsmain { margin: 5% 0;}
  .fsubmit {font-size: 1.1em;}
  .inp > span {font-size: 0.8em;bottom: -25%;}
  .intxt > span, .rtxt > span {font-size: 0.8em;}
  .popupmain {width: 80%;}
  #invert{font-size: 1.1em;}
  .inp {margin-bottom: 7.5%;}
  .intxt > h3, .rtxt > h3 {width: 31%;}
  .hedleft > a > h3 {font-size: 1.1em;}
  .userinfo > span {
    font-size: 0.7em;
}
.headermain { padding: 4.2% 0%;}
.form {padding-top: 72px;}
.hedcenter > ul{display: none;}
.icons {padding: 5% 13%}
.hedcenter {width: 60%;}
.hedleft, .hedrit {width: 25%;}
.collection { flex-direction: column;}
.inpset, .range {width: 100%;}


}



